/*cely dokument*/
body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    line-height: 1.5;
    color: #1d1d1d;
    font-size: normal;
}
h2,
h3{
    padding-bottom: 20px;
    margin-left: 18px;
}


/*hlavicka*/
header {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4009978991596639) 100%, rgba(0, 0, 0, 0.196516106442577) 100%, rgba(0, 0, 0, 0.4990371148459384) 100%), url("photos/html.png");
    margin: 0;
    text-shadow: 1px 1px 5px rgba(15, 15, 15, 0.5)
}

.hlavicka {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
}

.FOTKA_2 {
    width: 15%;
    border-radius: 50%;
    border: 10px solid rgb(86, 177, 207);
    margin-bottom: -10%;
    margin-left: 5%;
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
}

.nadpis {
    padding-left: 5%;
    color: rgb(114, 215, 255);

}

/*menu*/
.menu {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: rgb(221, 145, 79);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;

}

li a:hover {
    background-color: #525252;

}

.cara {
    border-left: 1px solid #d4d4d4;
    margin-left: 2%;
    padding-bottom: 5%;
    padding-left: 2%
}

.dve {
    margin-left: 2%
}


/*tělíčko*/

.telo_zivotopisu {
    margin: 5% 20%;
    border-left: 1px solid #d4d4d4;
    padding-left: 1%

}

.telo_zivotopisu p {
    padding-left: 3%;
}

.telo_zivotopisu a {
    text-decoration: none;
    color: rgb(182, 49, 182)
}
/*kdo jsem*/
.papapackman{
    padding-top: 20px;
    display: none;
}
#kdo-jsem:has(p:hover) h2 {
    color:#008000;
    transition: 0.3s
}
#kdo-jsem:has(p:hover) h3 {
    color:rgb(206, 130, 64);
    transition: 0.3s
}

/*ma prace*/
#ma-prace:has(p:hover) h2 {
    color:#008000;
    transition: 0.3s
}

#ma-prace:has(p:hover) h3 {
    color:rgb(206, 130, 64);
    transition: 0.3s
}
/*loga */
.logo {
    margin-left: 20px;
}

.albatros {
    width: 30%;
}

.host {
    width: 15%;
}    

.lingua {
    width: 20%;
} 
/*zkusenosti*/       
#zkusenosti:has(p:hover) h3 {
    color:rgb(206, 130, 64);
    transition: 0.3s
}
#zkusenosti:has(p:hover) h2 {
    color:#008000;
    transition: 0.3s
}

/*vzdelani*/
#vzdelani:has(p:hover) h2 {
    color:#008000;
    transition: 0.3s
}
/*dovednosti*/
#dovednosti:has(p:hover) h2 {
    color:#008000;
    transition: 0.3s
}
#portfolio:has(p:hover) h2 {
    color:#008000;
    transition: 0.3s
}



* {
    box-sizing: border-box
}    

.dovenost{
    padding-bottom: 10%;} 
    
    .container {
        width: 50%;
    height: 30px;
    background-color: #ddd;
    border-radius: 30px;
}    

.skills {
    text-align: right;
    padding-top: 00px;
    padding-bottom: 10px;
    color: white;
    text-shadow: 1px 1px 5px rgba(15, 15, 15, 0.5)
}    

.html {
    height: 30px;
    width: 20%;
    background-color: rgb(221, 145, 79);
    border-radius: 30px;
    
}



.css {
    height: 30px;
    width: 20%;
    background-color: rgb(27, 114, 27);
    border-radius: 30px;

}


.js {
    height: 30px;
    width: 5%;
    background-color: rgb(182, 49, 182);
    border-radius: 30px;

}



.tlacitko {
    font-family: 'Source Code Pro', monospace;
    padding: 15px 36px;
    margin: 3%;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 5px rgba(15, 15, 15, 0.5);
    background-color: rgb(221, 145, 79);
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
    border: none;
    transition: 0.2s;
}

.tlacitko:hover {
    background-color: rgb(202, 117, 42);
}

.gif {
    display: none;
    
}


.zprava {
    font-weight: bold;
    padding: 20px;
}

.podekovani {
    color: #808080;
    padding-left: 3%;
}


/*patička*/
.paticka {
    background-color: #333;
    color: rgb(221, 145, 79);
}

.linkedin,
.mobil,
.email {
    display: flex;
    flex-direction: row;
    align-items: center
}

.kontakty {
    padding: 2% 20%;
}

.kontakty img {
    margin-right: 5px;
}

.kontakty a {
    text-decoration: none;
    color: rgb(221, 145, 79);
}