/*cely dokument*/
body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    line-height: 1.5;
    color: #1d1d1d;
    font-size: large
}

/*hlavicka*/
header {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.9108018207282913) 0%, rgba(0, 0, 0, 0.4990371148459384) 50%, rgba(0, 0, 0, 0.196516106442577) 100%), url("photos/html.png");
    margin: 0;
    color: white;
    text-shadow: 1px 1px 1px black;

}

.hlavicka {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
}

.FOTKA_2 {
    width: 15%;
    border-radius: 50%;
    border: 10px solid rgb(86, 177, 207);
    margin-bottom: -10%;
    margin-left: 5%
}

.nadpis {
    padding-left: 5%;
}

/*menu*/
.menu {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: rgb(221, 145, 79);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;

}

li a:hover {
    background-color: #525252;

}
.cara {
    border-left: 1px solid #d4d4d4;
    margin-left: 20px;
}
.zeleny_nadpis h2{
    color:#1d1d1d;
    transition: 0.3s
}
.zeleny_nadpis {
    color:rgb(0, 112, 0)
}

/*tělíčko*/

.telo_zivotopisu {
    margin: 5% 20%;

}

.telo_zivotopisu p {
    padding-left: 3%;

}

/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box
}

/* Container for skill bars */
.container {
    width: 50%;
    height: 30px;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
    border-radius: 30px;
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-top: 00px;
    /* Add top padding */
    padding-bottom: 10px;
    /* Add bottom padding */
    color: white;
    /* White text color */
    
}

.html {
    height: 30px;
    width: 20%;
    background-color: rgb(221, 145, 79);
    border-radius: 30px;
  
}


/* Green */
.css {
    height: 30px;
    width: 20%;
    background-color: rgb(27, 114, 27);
    border-radius: 30px;
    
}

/* Blue */
.js {
    height: 30px;
    width: 5%;
    background-color: rgb(182, 49, 182);
    border-radius: 30px;
    
}

/* Red */
.react {
    height: 30px;
    width: 1%;
    background-color: #808080;
    border-radius: 30px;
    
}

/* Dark Grey */

.tlacitko {
    font-family:'Source Code Pro', monospace;
    padding: 15px 36px;
    font-size: 16px;
    color: white;
    background-color:rgb(221, 145, 79);
    border: none;
    transition: 0.2s;
}

.tlacitko:hover{
    background-color: rgb(202, 117, 42);
}
/*patička*/
.paticka {
    background-color: #333;
    color: rgb(221, 145, 79);
}

.linkedin,
.mobil,
.email {
    display: flex;
    flex-direction: row;
    align-items: center
}

.kontakty {
    padding: 2% 20%;
}

.kontakty img {
    margin-right: 5px;
}

.kontakty a {
    text-decoration: none;
    color: rgb(221, 145, 79);
}